.image-wrapper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

@media only screen and (min-width: 600px) {
	.image-wrapper {
	    -webkit-column-count: 3; /* Chrome, Safari, Opera */
	    -moz-column-count: 3; /* Firefox */
	    column-count: 3;
	}
}


.inner-image-wrapper{
	margin-bottom: 1rem;
	background-color: #ffc3a0;
    background-image: linear-gradient(141deg, #FFAFBD 51%, #ffc3a0 75%);
	width:100%;
	position: relative;
	padding-bottom: 56.25%;
	-webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
} 


.inner-image-wrapper img{
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	opacity: 0;
	transition: 1s;
}